<ion-content padding>
    <div class="page-banner">
      <div class="back-img" (click)="goBack()">
      <img src="../../assets/imgs/back-light.svg" alt="">
      </div>
      <img [src]="'.././../assets/imgs/'+topImg+'.png'" alt="" class="background-img">
      <div class="banner-overlay">
        {{subject}}
      </div>
    </div>
  <ion-grid>
    <!-- <select name="categories" id="">
      <option value="">All Categories</option>
      <option value="">Currently Learning</option>
      <option value="">Done Learning</option>
    </select> -->
    <ion-row>
      <ion-col class="sect-title">
        <b>Topics</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let topic of topics; let i = index" col-6 class="topic locked"  (click)="toTopic(topic.title, i)">
          <div class=" purple">
            <span *ngIf="topic.isSearching">
              <img src=".././../assets/imgs/spinner-white.svg" width="20px" class="loader" alt="">
            </span>
            <span *ngIf="!topic.isSearching">
              {{topic.title}}
            </span>
            <img *ngIf="topic.isLocked" src="../../assets/imgs/locked.svg" alt="" width="12px" class="locked-img">
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="sect-title">
        <b>Quiz</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 class="quiz" (click)="toTopic()">
        <div class=" purple">
          WAEC 2012
        </div>
      </ion-col>
      <ion-col col-6 class="quiz locked">
          <div class=" purple">
            JAMB 2014
            <!-- <img src="../../assets/imgs/locked.svg" alt="" width="12px" class="locked-img"> -->
          </div>
      </ion-col>
      <ion-col col-6 class="quiz">
          <div class=" purple">
            NECO 2010
          </div>
      </ion-col>
      <ion-col col-6 class="quiz locked">
          <div class=" purple">
            WAEC 2015
            <!-- <img src="../../assets/imgs/locked.svg" alt="" width="12px" class="locked-img"> -->
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
