<ion-header>
    <ion-navbar>
      <ion-row>
        <ion-col col-2>
          <img src="../../assets/imgs/search.png"  (click)="toSearch()" alt="" width="23px"  *ngIf="!addNote">
          <img src="../../assets/imgs/back-dark.svg" alt="" width="10px;"style="margin-top:5px;" (click)="addNote = false"  *ngIf="addNote">
        </ion-col>
        <ion-col  col-7 class="tab-title" >
          <b>Notes</b>
        </ion-col>
        <ion-col col-3 class="add" *ngIf="!addNote">
          <img src="../../assets/imgs/delete.svg" alt="" width="14px" style="margin-right: 15px;" *ngIf="delete" (click)="deleteNote()">
          <img src="../../assets/imgs/add-circle.svg" (click)="ToAddNote()" alt="" width="20px">
        </ion-col>
        <ion-col col-3 class="add" (click)="saveNote()" *ngIf="addNote">
          <button class="outline-btn">
            Save note
          </button>
        </ion-col>
      </ion-row>
    </ion-navbar>
  </ion-header>
<span *ngIf="!addNote">
<ion-content class="empty" *ngIf="notesCount">
      <span class="icon">
          <img src="../../assets/imgs/bookmark.svg" alt="" width="100px">
      </span>
      <p>
          You have not created any notes yet. To create a note, click on the plus sign above or highlight a portion of any textbook in your library
      </p>
  </ion-content>
  <ion-content class="not-empty" *ngIf="!notesCount">
      <ion-row>
        <ion-col col-6 *ngFor="let note of notes; let i = index">
          <div class="note" (press)="openSelect()" (click)="selectNote(i)">
              <ion-checkbox [(ngModel)]="note.selected" [ngStyle]="checkBox" (ngModelChange)="select(i)"></ion-checkbox>
              <span class="time">
                  {{note.timeStamp}}
                </span>
                <p>
                  {{note.title}}
                </p>
          </div>
        </ion-col>
      </ion-row>
  </ion-content>
</span>
<div *ngIf="addNote" class="addNotes">
  <label for="ino">
    <b>Enter Title Here
    </b>
  </label>
  <input type="text" [(ngModel)]="noteTitle"><br><br>
  <input type="text" [(ngModel)]="noteText" placeholder="Start typing notes here">
</div>