page-profile {
    ion-header {
        ion-navbar {
            .tab-title {
                margin: 10px 0 0 0;
            }
            ion-col {
                select {
                    border: 0.4px solid rgb(247, 247, 247) !important;
                    margin: 7px 0 0 0;
                    padding: 5px 10px;
                }
                img {
                    margin: 10px 0 0 0
                }
                span {
                    position: relative;
                    top: -10px;
                    padding: 0 0 0 5px;
                    color: #67747C
                }
            }
        }
    }
    ion-content {
        // padding: 60px 0;
        padding: 60px 30px !important;
        .user-details {
            text-align: center;
            align-items: center;
            align-content: center;
            margin: 40px 0 40px 0;
            img {
                width: 30% !important;
                margin: 0 35%;
            }
            .full-name {
                width: 100%;
                text-align: center;
                color: #3B444F;
                font-size: 16px;
            }
            .level {
                width: 100%;
                text-align: center;
                margin: -12px 0 0 0;
                color: #67747C;
                font-size: 14px
            }
        }
        .medals {
            ion-col {
                // align-items: center;
                text-align: center;
                img {
                    // width: 30% !important;
                    height: 40px;
                    // margin: 0 auto;
                    margin-top: 10px;
                }
                p {
                    width: 100%;
                    font-size: 16px;
                    text-align: center;
                    color: #DBE6EC
                }
                .one {
                    color: #20BF55 !important;
                }
                .two {
                    color: #FC575E !important
                }
                .three {
                    color: #A71D31 !important
                }
                .four {
                    color:#764BA2 !important
                }
                .five {
                    color: #045DE9 !important
                }
                .six {
                    color: #F8C51C !important
                }
            }
        }
        .sect-title {
            color: #3B444F;
            width: 88%;
            margin: 12px 30px 0 30px;
            font-weight: 600;
            border-bottom: 1px solid #DBE6EC;
            padding: 0 0px 8px 0px;
        }
        .settings {
            // margin: -30px 0;
        }
    }
    .app-settings {
        padding: 10px 30px;
        margin: 0 0 15px 0;
        p {
            color: #67747C;
            width: 100%;
            font-size: 14px;
            .fa {
                float: right;
            }
            img {
                float: right;
            }
        }
    }
    .app-settings-two {
        padding: 10px 30px;
        margin: 0 0 70px 0;
        p {
            color: #67747C;
            width: 100%;
            font-size: 16px;
            .fa {
                float: right;
            }
            img {
                float: right;
            }
        }
        .logout {
            color: #FC575E
        }
    }
}
