page-topic-video {
   ion-content {
    //    margin: 0 20px 0 0;
        iframe {
            position: fixed;
            background-color: #3B444F;
            z-index: 100000000;
            border: 0;
        }
       .text-wrap {
           padding: 0 20px;
           margin-top: 315px;
       }
        .heading {
            width: 100%;
            text-align: left;
            font-weight: 600;
            font-size: 17px;
            color: #3B444F;
        }
        .text {
            color: #67747C;
            line-height: 23px;
            font-size: 15px;
        }
        .buttons {
            margin-bottom: 20px
        }
   }
}
